body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input_title {
    margin-bottom: 8px;
    font-weight: bold;
}

.input_hint {
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
    font-style: italic;
    margin-left: 10px;
}

.input_input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #8338ec;
}

.input_error {
    color: #8f0000;
    margin-bottom: 20px;
}

.input:focus {
    border: 2px solid #dddd;
}