.profile-banner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    cursor: pointer;
}

.profile-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;
}

.logout-button {
    padding-left: 15px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.profile-image {
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
.profile-reputation {
    font-weight: bold;
    font-size: small;
}
.profile-username {
    margin: 0 5px 0 5px
}