.vote-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2%;
}

.vote-button {
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-vote-button {
  border: 1px solid #ddd;
  background-color: #ac81e8;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trash-icon {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin-top: 10px;
}

.big-vote-count {
  font-weight: bold;
  font-size: larger;
  margin: 5px 0 5px 0;
}

.vote-button:hover {
  background-color: rgb(255, 222, 255);
}
